body {
	overflow-y: hidden;
	overflow-x: hidden;
}

#canvas{
	width: 400px;
	z-index: 5;
}

#splashscreen {
    position: fixed;
    width: 100%;
    z-index: 103;
    height: 114%;
}

#nav {
    width: 100%;
    position: fixed;
    background: black;
    height: 100%;
    z-index: 100;
}

#score {
	display: block;
    position: fixed;
    font-weight: bold;
    color: #FFF;
    font-size: 2.7em;
    right: 1.5%;
    top: 1.5%;
    z-index: 99;
    text-align: center;
}

#nav img{
	display: block;
	width: 28%;
	margin: 13% auto;
	margin-bottom: 0;
	transition: all 0.3s;
	animation-name: zoom_dezoom;
    animation-duration: 4s;
    animation-iteration-count: infinite;   
}

@keyframes zoom_dezoom {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}


#nav button{
    display: block;
    padding: 17px 27px;
    width: 160px;
    text-align: center;
    border-radius: 13px;
	margin: 2% auto;
    background: #fc2c88;
    color: #FFF;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4em;
    transition: all 0.3s;
}

#nav button:hover{
	opacity: 0.6;
	transform: scale(1.1);
}

#life{
    position: absolute;
    left: 42%;
}

#life li {
    display: inline-block;
    margin-left: 11px;
}

#life img {
    width: 25px;
}

#play_pause {
    position: absolute;
    color: #FFF;
    font-size: 2.7em;
    left: 1%;
    top: 1%;
}
